:host {
  display: grid;
  gap: 48px;
  grid-template-columns: 322px 1fr;
}

.profile-form__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--dark-color);
  padding: 32px;
  border: 1px solid var(--light-color);
  height: calc(100dvh - (24px * 4));
}

.profile-form {
  display: grid;
  gap: 20px;
}

.two-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.textareaStack-container {
  position: relative;
}

.tags-textarea {
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;

  // border: 1px solid salmon;
}

.tag-item {
  display: flex;
  gap: 2px;
  align-items: center;
  border: 1px solid var(--light-color);
  border-radius: 4px;
  padding: 4px;
  // background: var(--purple-color);
}

.tag-item:hover {
  color: var(--purple-color);
  border-color: var(--purple-color);
  transition: all ease 0.5s;
}

.tag-item-btn {
  position: relative;
  top: 2px;
}
