:host {
  background: var(--dark-color);
  padding: 20px 12px;
}

.sidebar-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.sidebar-main-item {
  width: 100%;
  display: grid;
  grid-template-columns: min-content max-content;
  gap: 12px;
  align-items: center;
  line-height: 24px;
  height: 40px;
  font-weight: 700;
  &.act {
    background-color: var(--dark-gray-color);
    color: var(--purple-color);
  }
}

.sidebar-main-item:hover {
  background-color: var(--dark-gray-color);
  color: var(--purple-color);
}

.followers {
  margin-top: 20px;
}

.followers p {
  margin-bottom: 20px;
}

.follower-item + .follower-item {
  margin-top: 6px; /* Отступ между элементами */
}

.follower-item {
  display: flex;
  height: 48px;
  font-weight: 700;
  font-size: 14px;
}

.followers-all {
  display: grid;
  grid-template-columns: max-content min-content;
  height: 12px;
  width: 100px;
}

.followers-all-link {
  text-decoration: none;
  color: var(--purple-color);
  font-weight: 500;
  font-size: 12px;
}

.followers-all-btn {
  position: relative;
  bottom: -3px;
  left: 11px;
}

.sidebar-profile {
  // flex: 0 1;
  margin-top: 100%;
  display: grid;
  grid-template-columns: 32px 174px 14px;
  padding: 4px 16px;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  background: var(--dark-gray-color);
}

.profile-name {
  color: var(--purple-color);
  font-weight: 700;
  font-size: 14px;
}

.footer-avatar {
  width: 32px;
  border-radius: 50%;
}

.settings-btn {
  align-items: center;
  color: var(--purple-color);
}
