:host {
  display: grid;
  grid-template-columns: 440px 1fr;
  gap: 275px;
  height: 100dvh;
  align-items: center;
  margin: 0 15%;
}

.h1 {
  margin-top: 0;
  margin-bottom: 60px;
  font-size: 48px;
  font-weight: 800;
}

.tt-control-label {
  display: block;
  margin-bottom: 16px;
}

.control-label-password {
  margin-bottom: 32px;
}

.tt-input:focus {
  outline: 1px solid var(--purple-color);
  border-color: transparent;
  outline-offset: 1px;
}

.btn {
  justify-content: center;
  cursor: pointer;
  transition: opacity 0.2s ease;
  width: 100%;
}

.password-input {
  position: relative;
}

.login-input {
  position: relative;
}

.password-eye-btn {
  color: #ffffffbf;
  position: absolute;
  right: 12px;
  top: 55%;
  background: transparent;
  border: none;
  transition: all 0.4s ease;
}

.password-eye-btn.active {
  color: #ffffff;
}

.telegram-input-btn {
  position: absolute;
  right: 12px;
  top: 53%;
  background: transparent;
  border: none;
  transition: all 0.4s ease;
}
