<form action="" class="login-f" [formGroup]="form" (ngSubmit)="onSubmit()">
  <h1 class="h1">Вход</h1>
  <label for="" class="tt-control-label"
    >Telegram username
    <input
      formControlName="username"
      type="username"
      class="tt-input"
      placeholder="Введите логин"
    />
  </label>
  <label for="" class="tt-control-label control-label-password"
    >Пароль
    <input
      formControlName="password"
      type="username"
      class="tt-input"
      placeholder="Введите пароль"
    />
  </label>
  <button class="btn btn-shadow" type="submit">Войти</button>
</form>
<img src="/assets/images/logo.png" alt="" />
